.information-container {
	display: inline-block;
	width: 300px;
	h1 {
		padding: 0 20px;
	}

	.section {
		width: 100%;
		display: block;
		padding: 2%;
		background: #eee;
	}

	.header {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.information {
		.info-category {
			font-weight: bold;
		}
	}

	.graph-container {
		float: right;
		position: relative;
		right: 110px;
		top: 45px;
	}

	#zooId {
		visibility: hidden;
		margin: 0;
		height: 0;
	}
}