.main {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e6d6bd;
	width: 100%;
	height: 100%;

	.search-container {
		position: relative;
		top: -100px;
	}

	.main-logo {
		display: block;
		margin: 0 auto;
		width: 250px;
	}

	.pure-form {
		height: 35px;
		margin-top: 25px;

		select {
			border: none;
			margin-right: 15px;
			height: 100%;
		}

		input {
			margin-right: 15px;
		}
	}
}