.profile-container {
	width: 900px;
	padding: 30px;
	display: block;
	margin: 50px auto;
	background: #eee;

	.profile-top {
		height: 250px;

		.profile-picture-container {
			max-height: 200px;
			max-width: 300px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			border: 2px solid #525353;
			background: white;
			margin: 0 auto 15px auto;
			display: block;
		}

		.name {
			display: block;
			font-weight: bold;
			text-align: center;
			font-size: 24px;
		}

		.species {
			font-style: italic;
		}

		.species {
			display: block;
		}

		.profile-picture {
			max-height: 300px;
			max-width: 300px;
		}

		.profile-right {
			float: left;
			margin: 30px 15px;
			font-size: 14px;
		}
	}

	.profile-information {
		width: 300px;
		display: inline-block;
		float: left;

		h4 {
			margin: 25px 0 5px 0;
		}

		.category {
			font-weight: bold;
		}
	}

	.profile-secondary {
		overflow: auto;
		max-height: 1000px;
		padding: 0 35px;
	}

	.profile-bottom {

		svg {
			margin: 0 auto;
			display: block;
			width: 600px;
			height: 300px;
		}
	}

	.profile-description {
		padding: 0 50px;
		float: left;
		width: 400px;
		display: inline-block;
		margin-top: 25px;

		h4 {
			margin: 0;
		}

		p {
			margin-top: 5px;
		}
	}
}
