.pure-menu.header {
	background: #525353;
	overflow: auto;
	height: 50px;
	position: relative;

	.brand {
		height: 100%;
		float: left;
	}

	.brand-text {
		position: relative;
		left: 20px;
		color: white;
		font-weight: bold;
	}

	.brand-icon {
		height: 33px;
		position: relative;
		top: 11px;
		left: 10px;
	}

	.options {
		float: right;
	}

	.username {
		font-weight: bold;
		color: white;
	}

	.options li {
		padding: 7px;
		color: white;

		a {
			color: white;
			&:hover {
				background: none;
			}
		}
	}

	.pure-form {
		position: absolute;
		top: 0;
		left: 160px;
		top: 7px;
		height: 35px;

		select {
			border: none;
			margin-right: 15px;
			height: 29px;
		}

		#value {
			height: 30px;
			border: none;
			margin-right: 15px;
		}

		#search {
			padding: 7px 15px;
		}

		.pure-button-primary {
			background-color: #e6d6bd;
			color: black;
			font-weight: bold;
		}
	}
}