extends ../layout

block content
	form(class="custom-form exhibit-form pure-form pure-form-stacked" action="/exhibit/" method="POST")
		h1 Exhibit Form
		fieldset
			label(for="name") Name
			input(name="name", type="text", placeholder="Awesome Exhibit")
			label(for="zookeeperId") ZookeeperId
			input(name="zookeeperId", type="number", placeholder="1")
		button(type="submit" class="pure-button pure-button-primary") Create Exhibit
