extends ../layout


block header
	include ../header/header

block sidebar
	include ../sidebar/sidebar

block content
	div(class="content")
		form(class="custom-form exhibit-form pure-form pure-form-stacked" action="/exhibit/" method="POST")
			h1 Exhibit Form
			fieldset
				label(for="name") Name
				input(name="name", type="text", placeholder="Awesome Exhibit")
				label(for="zookeeperId") Zookeeper
				select(name="zookeeperId")
					each zookeeper in zookeepers
						option(value="#{zookeeper.id}") #{zookeeper.first_name} #{zookeeper.last_name}
			button(type="submit" class="pure-button pure-button-primary") Create Exhibit
