block extraCss
	link(rel='stylesheet', href='/css/sidebar.css')

div(class="sidebar")
	div(class="pure-menu pure-menu-open")
		ul
			li(class="pure-menu-heading") Add
			li
				a(href="/zoo/add") Zoo
			li
				a(href="/animal/add") Animal
			li
				a(href="/customer/add") Customer
			li
				a(href="/exhibit/add") Exhibit
			li
				a(href="/show/add") Show
			li
				a(href="/zookeeper/add") Zookeeper
			li
				a(href="/zoo-membership/add") Zoo Membership
			li
				a(href="/species/add") Species
			li(class="pure-menu-heading") View
			li
				a(href="/zoo") Zoo
			li
				a(href="/animal") Animal
			li
				a(href="/customer") Customer
			li
				a(href="/exhibit") Exhibit
			li
				a(href="/show") Show
			li
				a(href="/zookeeper") Zookeeper
			li
				a(href="/zoo-membership") Zoo Membership
			li
				a(href="/species") Species