extends ../layout

block header
	include ../header/header

block sidebar
	include ../sidebar/sidebar

block content
	div(class="content")
		form(class="custom-form zookeeper-form pure-form pure-form-stacked" action="/zookeeper/" method="POST")
			h1 Zookeeper Form
			fieldset
				label(for="first_name") First Name
				input(name="first_name", type="text", placeholder="John")
				label(for="last_name") Last Name
				input(name="last_name", type="text", placeholder="Doe")
				label(for="phone") Phone
				input(name="phone" type="text" placeholder="(510) 432-8970")
				label(for="ZooId") Zoo
				select(name="ZooId" type="text")
					each zoo in zoos
						option(value="#{zoo.id}") #{zoo.name}
				//- fieldset(name="exhibits")
				//- 	<legend>Exhibits</legend>
				//- 	label(for="Cool Exhibit") Cool Exhibit 
				//- 		input(name="Cool Exhibit" type="checkbox")
				fieldset(name="work")
					<legend>Work Days</legend>
					label(for="pure-checkbox") Monday 
						input(name="work_days" value="Mo" type="checkbox")
					label(for="pure-checkbox") Tuesday 
						input(name="work_days" value="Tu" type="checkbox")
			button(type="submit" class="pure-button pure-button-primary") Create Zookeeper
