extends ../layout

block content
	form(class="custom-form zookeeper-form pure-form pure-form-stacked")
		h1 Zookeeper Form
		fieldset
			label(for="first-name") First Name
			input(name="first-name", type="text", placeholder="John")
			label(for="last-name") Last Name
			input(name="last-name", type="text", placeholder="Doe")
			label(for="phone") Phone
			input(name="phone" type="text" placeholder="(510) 432-8970")
			label(for="zoo") Zoo
			select(name="zoo" type="text")
				option My Awesome Zoo
			fieldset(name="exhibits")
				<legend>Exhibits</legend>
				label(for="Cool Exhibit") Cool Exhibit 
					input(name="Cool Exhibit" type="checkbox")
			fieldset(name="work")
				<legend>Work Days</legend>
				label(for="monday pure-checkbox") Monday 
					input(name="monday" type="checkbox")
				label(for="tuesday pure-checkbox") Tuesday 
					input(name="tuesday pure-checkbox" type="checkbox")
				label(for="wednesday pure-checkbox") Wednesday 
					input(name="wednesday pure-checkbox" type="checkbox")
		button(type="submit" class="pure-button pure-button-primary") Create Zookeeper
