extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th scientific_name
				th common_name
				th description
		tbody
			each specie, index in Species
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td #{specie.id}
					td #{specie.scientific_name}
					td #{specie.common_name}
					td #{specie.description}
