extends ../layout

block content
	form(class="custom-form species-form pure-form pure-form-stacked")
		h1 Species Form
		fieldset
			label(for="scientific-name") Scientific Name
			input(name="scientific-name", type="text", placeholder="Mellivora Capensis" value="#{specie.scientific_name}")
			label(for="common-name") Common Name
			input(name="common-name", type="text", placeholder="Badger" value="#{specie.common_name}")
			label(for="description") Description
			textarea(name="description" placeholder="A species of mustelid...") #{specie.description}
		button(type="submit" class="pure-button pure-button-primary") Save