extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th scientific_name
				th common_name
				th description
		tbody
			tr(class="pure-table-odd")
				td 1
				td Antilocapra americana
				td antelope
				td neque vestibulum eget vulputate ut ultrices vel augue vestibulum ante ipsum primis in
