extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th Given Name
				th Weight
				th Picture
				th Birth Date
				th Gender
		tbody
			tr(class="pure-table-odd")
				td 1
				td Mari
				td 135
				td https://scontent-2.2914.fna.fbcdn.net/hprofile-xpf1/v/t1.0-1/p320x320/10421395_10152477685576270_3664756976328288274_n.jpg?oh=ffa5d1ec41f722ddd5c109fd420e7dd6&oe=551D4FF0
				td Nov. 10, 1992
				td Male
			tr
				td 2
				td Crystal
				td 135
				td https://scontent-2.2914.fna.fbcdn.net/hprofile-xaf1/v/t1.0-1/c1.116.416.416/s320x320/10703758_10152443812442844_8443514106666473799_n.jpg?oh=b54a053f8a52fe85d3760a2922316387&oe=551C6E44
				td Nov. 10, 1992
				td Male
			tr
				td 3
				td Ashleigh
				td 135
				td https://scontent-2.2914.fna.fbcdn.net/hprofile-xap1/v/t1.0-1/p320x320/10730775_10152626444888557_6239716267316737120_n.jpg?oh=7e8cda79f9d3051a96c802525822a1bd&oe=54E5BEA1
				td Nov. 10, 1992
				td Male
