extends ../layout

block content
	form(class="custom-form animal-form pure-form pure-form-stacked")
			h1 Animal Form
			fieldset
				label(for="given-name") Given Name
				input(name="given-name", type="text", placeholder="Mr. Whiskers" value="#{animal.given_name}")
				label(for="weight") Weight (lbs.)
				input(name="weight", type="number", placeholder="135" value="#{animal.weight}")
				label(for="picture") Picture URL
				input(name="picture", type="text", placeholder="http://coolpicture.com/123abc" value="#{animal.picture_url}")
				label(for="birth-date") Birth Date
				input(name="birth-date", type="text", placeholder="November 10, 1992" value="#{animal.birth_date}")
				label(for="gender") Gender
				select(name="gender")
					option(value="male") Male
					option(value="female") Female
			button(type="submit" class="pure-button pure-button-primary") Save