extends ../layout

block header
	include ../header/header

block sidebar
	include ../sidebar/sidebar

block content
	div(class="content")
		form(class="custom-form zoo-form pure-form pure-form-stacked" action="/zoo/" method="POST")
			h1 Zoo Form
			fieldset
				label(for="name") Zoo Name
				input(name="name", type="text", placeholder="My Awesome Zoo")
				label(for="opening_time") Opening Time
				select(name="opening_time")
					option(value="00:00:00") 12:00 AM
					option(value="01:00:00") 1:00 AM
					option(value="02:00:00") 2:00 AM
					option(value="03:00:00") 3:00 AM
					option(value="04:00:00") 4:00 AM
					option(value="05:00:00") 5:00 AM
					option(value="06:00:00") 6:00 AM
					option(value="07:00:00") 7:00 AM
					option(value="08:00:00") 8:00 AM
					option(value="09:00:00" selected) 9:00 AM
					option(value="10:00:00") 10:00 AM
					option(value="11:00:00") 11:00 AM
					option(value="12:00:00") 12:00 PM
					option(value="13:00:00") 01:00 PM
					option(value="14:00:00") 02:00 PM
					option(value="15:00:00") 03:00 PM
					option(value="16:00:00") 04:00 PM
					option(value="17:00:00") 05:00 PM
					option(value="18:00:00") 06:00 PM
					option(value="19:00:00") 07:00 PM
					option(value="20:00:00") 08:00 PM
					option(value="21:00:00") 09:00 PM
					option(value="22:00:00") 10:00 PM
					option(value="23:00:00") 11:00 PM
				label(for="closing_time") Closing Time
				select(name="closing_time")
					option(value="00:00:00") 12:00 AM
					option(value="01:00:00") 1:00 AM
					option(value="02:00:00") 2:00 AM
					option(value="03:00:00") 3:00 AM
					option(value="04:00:00") 4:00 AM
					option(value="05:00:00") 5:00 AM
					option(value="06:00:00") 6:00 AM
					option(value="07:00:00") 7:00 AM
					option(value="08:00:00") 8:00 AM
					option(value="09:00:00") 9:00 AM
					option(value="10:00:00") 10:00 AM
					option(value="11:00:00") 11:00 AM
					option(value="12:00:00") 12:00 PM
					option(value="13:00:00") 01:00 PM
					option(value="14:00:00") 02:00 PM
					option(value="15:00:00") 03:00 PM
					option(value="16:00:00") 04:00 PM
					option(value="17:00:00") 05:00 PM
					option(value="18:00:00" selected) 06:00 PM
					option(value="19:00:00") 07:00 PM
					option(value="20:00:00") 08:00 PM
					option(value="21:00:00") 09:00 PM
					option(value="22:00:00") 10:00 PM
					option(value="23:00:00") 11:00 PM
				label(for="street") Street
				input(name="street", type="text", placeholder="123 Folsom St.")
				label(for="city") City
				input(name="city", type="text", placeholder="San Francisco")
				label(for="state") State
				input(name="state", type="text", placeholder="CA")
				label(for="zip") Zip
				input(name="zip", type="number" placeholder="95758")
				label(for="country") Country
				input(name="country" type="text" placeholder="USA")
				label(for="phone") Phone
				input(name="phone" type="text" placeholder="(123) 456-7890")
			button(type="submit" class="pure-button pure-button-primary") Create Zoo