extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th name
				th phone
				th street
				th city
				th state
				th zip
				th country
				th opening_time
				th closing_time
		tbody
			tr(class="pure-table-odd")
				td 1
				td New York Zoo
				td 9-(546)183-2380
				td Stuart
				td Flushing
				td NY
				td 11355
				td United States
				td 2014-08-15 12:22:44-07
				td 2013-11-14 23:35:13-08
