extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th Name
				th Time
				th ExhibitId
		tbody
			tr(class="pure-table-odd")
				td 4
				td Feeding the Panda
				td 2014-02-21 15:48:16-08
				td 1
