extends ../layout

block content
	form(class="custom-form zoo-membership-form pure-form pure-form-stacked")
		h1 Zoo Membership Form
		fieldset
			label(for="zoo-id") Zoo ID
			input(name="zoo-id", type="number", placeholder="1")
			label(for="zoo-customer-id") Zoo Customer ID
			input(name="zoo-id", type="number", placeholder="1")
			label(for="membership-expiration") Membership Expiration
			input(name="membership-expiration", type="text", placeholder="Nov. 10, 1992")
		button(type="submit" class="pure-button pure-button-primary") Create Zoo Membership