extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th Zoo CustomerId
				th ZooId
		tbody
			each zooMembership, index in ZooMemberships
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td #{zooMembership.id}
					td #{zooMembership['Zoo CustomerId']}
					td #{zooMembership.ZooId}