extends ../layout

block content
	form(class="custom-form update-membership-form pure-form pure-form-stacked")
		h1 Zoo Membership Form
		fieldset
			label(for="zoo-id") Zoo ID
			input(name="zoo-id", type="number", placeholder="1" value="#{zooMembership.ZooId}")
			label(for="zoo-customer-id") Zoo Customer ID
			input(name="zoo-id", type="number", placeholder="1" value="#{zooMembership['Zoo CustomerId']}")
			label(for="membership-expiration") Membership Expiration
			input(name="membership-expiration", type="text", placeholder="Nov. 10, 1992" value="#{zooMembership.membership_expiration}")
		button(type="submit" class="pure-button pure-button-primary") Save