extends layout

block content
	form(name="login-form" method="PUT" action="/authentication/login")
		input(type="text" name="username" placeholder="Username")
		input(type="password" name="password" placeholder="Password")
		input(type="submit" value="Login")