extends ../layout

block content
	form(class="custom-form customer-form pure-form pure-form-stacked")
		h1 Customer Membership Form
		fieldset
			label(for="first-name") First Name
			input(name="first-name", type="text", placeholder="John")
			label(for="last-name") Last Name
			input(name="last-name", type="text", placeholder="Doe")
			label(for="phone") Phone
			input(name="phone" type="text" placeholder="(510) 432-8970")
			label(for="zoo") Zoo
			select(name="zoo" type="text")
				option My Awesome Zoo
		button(type="submit" class="pure-button pure-button-primary") Create Member
