extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th First Name
				th Last Name
				th Phone
		tbody
			each customer, index in ZooCustomers
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td #{customer.id}
					td #{customer.first_name}
					td #{customer.last_name}
					td #{customer.phone}
