extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th First Name
				th Last Name
				th Phone
		tbody
			tr(class="pure-table-odd")
				td 1
				td Mari
				td Batilando
				td (123) 456-7890
